{% load i18n %}
{% load django_bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <title>{% trans "Magazine" %}</title>
</head>
<body class="d-flex flex-column min-vh-100" text="Вход">
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between border-bottom">
                <a href="{% url 'index' %}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-white text-decoration-none">
                    {% trans "SHOPS" %}
                </a>
        
                <nav class="ml-auto">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a href="#" class="nav-link px-2 text-white">{% trans "Catalog" %}</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a href="#" class="nav-link px-2 text-white">{% trans "Profile" %}</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
        
                <div class="text-center mt-2">
                    {% if user.is_authenticated %}
                        <span class="d-block mb-2">{{ user.username }}</span>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                          <input class="btn btn-outline-light" type="submit" value="{% trans "Logout" %}">
                        </form>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-outline-light me-2">{% trans "Log-in" %}</a>
                        <a href="{% url 'users_create' %}" class="btn btn-warning">{% trans "Sign-up" %}</a>
                    {% endif %} 
                </div>
            </div>
        </div>
    </header>


    


    <div class="container align-items-center wrapper flex-grow-1">
        {% bootstrap_messages %}
        {% block content %}

        {% endblock content %}
    </div>
    

</body>

{% include "footer.html"  %}

</html>
    
    
